# FORMAS DE CONEXÃO

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=localhost;Database=NOMEDOBANCO;Trusted_Connection=True;TrustServerCertificate=True


# SQL Server Authentication (Usuário e Senha)
# CONNECTION_STRING=Server=localhost;Database=NOMEDOBANCO;User Id=SEU_USUARIO;Password=SUA_SENHA;

# Configuração de chave JWT
# Chave precisa ter pelo menos 32 caractéres
JWT_KEY=sua_chave_aqui